.profile {
  display: flex;
  margin: 38px auto 52px;
  align-items: center;
}

@media screen and (max-width:900px) {
  .profile {
    margin: 38px 30px 49px;
    flex-direction: column;
  }
}

@media screen and (max-width:500px) {
  .profile {
    margin: 41px 19px 36px;
  }
}
