.profile {
  display: flex;
  margin: 0 auto 49px;
  align-items: center;
}

@media screen and (max-width:900px) {
  .profile {
    margin: 0 30px 49px;
    flex-direction: column;
  }
}

@media screen and (max-width:500px) {
  .profile {
    margin: 0 19px 36px;
  }
}
