.root {
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
}
