.places__description {
  display: flex;
  background-color: #FFF;
  border-radius: 0 0 10px 10px;
  padding: 25px 17px 31px 21px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
